// _custom-variables.scss
// Override Lara theme variables here before importing the main theme
$primaryColor: #ef14aa !default; // Lime Green
$primaryTextColor: #fff !default;
$surfaceGround: #f8fafc !default;
// Add more variable overrides as needed 